@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  color: #030c10; }
  @media (max-width: 768px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden; }

.template {
  display: grid;
  grid-template-columns: 10fr 3fr;
  grid-template-rows: 7.5rem calc(100vh - 7.5rem); }
  .template__nav {
    height: 7.5rem;
    width: 100%; }
  .template__section {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 100%;
    height: 100vh; }
  .template__main {
    overflow: scroll;
    background-color: #F5F5F5; }
    .template__main::-webkit-scrollbar {
      display: none; }
    .template__main-container {
      padding: 2rem;
      margin: 2.5rem;
      background-color: white;
      width: calc(100% - 5rem);
      display: inline-block;
      border: 1px solid rgba(219, 219, 219, 0.5); }
    .template__main-container_career {
      padding: 2rem;
      margin: 0.5rem 2.5rem;
      margin-right: 1.75rem;
      background-color: white;
      width: calc(50% - 5rem);
      display: inline-block;
      border: 1px solid rgba(219, 219, 219, 0.5); }
    .template__main-container_jobs {
      padding: 2rem;
      margin: 0.5rem 2.5rem;
      background-color: white;
      width: calc(50% - 5rem);
      display: inline-block;
      border: 1px solid rgba(219, 219, 219, 0.5); }

.main__events-container,
.main__create_events-container,
.main__posts-container,
.main__career-container,
.main__jobs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem; }

.main__events-header,
.main__create_events-header,
.main__posts-header,
.main__career-header,
.main__jobs-header {
  margin-bottom: 3rem; }

.main__events-header, .main__events-subheader,
.main__create_events-header,
.main__create_events-subheader,
.main__posts-header,
.main__posts-subheader,
.main__career-header,
.main__career-subheader,
.main__jobs-header,
.main__jobs-subheader {
  display: flex;
  justify-content: space-between; }
  .main__events-header__backbtn, .main__events-subheader__backbtn,
  .main__create_events-header__backbtn,
  .main__create_events-subheader__backbtn,
  .main__posts-header__backbtn,
  .main__posts-subheader__backbtn,
  .main__career-header__backbtn,
  .main__career-subheader__backbtn,
  .main__jobs-header__backbtn,
  .main__jobs-subheader__backbtn {
    height: 50px;
    fill: #43736C; }
  .main__events-header__backbtn:hover, .main__events-subheader__backbtn:hover,
  .main__create_events-header__backbtn:hover,
  .main__create_events-subheader__backbtn:hover,
  .main__posts-header__backbtn:hover,
  .main__posts-subheader__backbtn:hover,
  .main__career-header__backbtn:hover,
  .main__career-subheader__backbtn:hover,
  .main__jobs-header__backbtn:hover,
  .main__jobs-subheader__backbtn:hover {
    cursor: pointer;
    border-radius: 5rem;
    background-color: #D4ECE8; }

.main__events-subheader,
.main__create_events-subheader,
.main__posts-subheader,
.main__career-subheader,
.main__jobs-subheader {
  margin: 1rem 0; }
  .main__events-subheader a,
  .main__create_events-subheader a,
  .main__posts-subheader a,
  .main__career-subheader a,
  .main__jobs-subheader a {
    color: #990D32; }

.main__events-subheader2,
.main__create_events-subheader2,
.main__posts-subheader2,
.main__career-subheader2,
.main__jobs-subheader2 {
  display: grid; }

.main__events-filters,
.main__create_events-filters,
.main__posts-filters,
.main__career-filters,
.main__jobs-filters {
  list-style-type: none;
  color: #43736C; }
  .main__events-filters li:nth-of-type(1),
  .main__create_events-filters li:nth-of-type(1),
  .main__posts-filters li:nth-of-type(1),
  .main__career-filters li:nth-of-type(1),
  .main__jobs-filters li:nth-of-type(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
  .main__events-filters li:last-of-type,
  .main__create_events-filters li:last-of-type,
  .main__posts-filters li:last-of-type,
  .main__career-filters li:last-of-type,
  .main__jobs-filters li:last-of-type {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .main__events-filters_item,
  .main__create_events-filters_item,
  .main__posts-filters_item,
  .main__career-filters_item,
  .main__jobs-filters_item {
    display: inline-block;
    padding: 0.5rem 1rem;
    height: 3.5rem;
    margin: -2px;
    background-color: white;
    border: 1px solid #7EC7BB; }
    .main__events-filters_item-active,
    .main__create_events-filters_item-active,
    .main__posts-filters_item-active,
    .main__career-filters_item-active,
    .main__jobs-filters_item-active {
      background-color: #D4ECE8; }
    .main__events-filters_item-dropdown::after,
    .main__create_events-filters_item-dropdown::after,
    .main__posts-filters_item-dropdown::after,
    .main__career-filters_item-dropdown::after,
    .main__jobs-filters_item-dropdown::after {
      content: '▾'; }

@font-face {
  font-family: 'AlfaSlab One';
  src: url("../assets/typography/AlfaSlabOne-Regular.ttf"); }

.text__1-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  font-weight: 700; }

.text__2-alfaslab {
  font-family: 'AlfaSlab One';
  font-size: 2.6rem; }

.text__2-montserrat_extrabold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  font-weight: 800; }

.text__2-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  font-weight: 700; }

.text__3-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700; }

.text__3-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 400; }

.text__4-montserrat_medium {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 500; }

.text__4-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 500; }

.text__4-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 700; }

.text__4-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 400; }

.text__5-montserrat_semibold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600; }

.text__5-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700; }

.text__5-montserrat_light {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

.text__5-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300; }

.text__6-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

.text__6-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

.text__7-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.text__7-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500; }

.text__7-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.text__7-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.text__8-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300; }

.text__8-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }

.btn {
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  .btn__small-dark {
    width: 10rem;
    height: 3.5rem;
    background-color: rgba(3, 12, 16, 0.9);
    color: white;
    font-weight: 600; }
  .btn__small-event {
    width: 13rem;
    height: 3.5rem;
    background-color: #7EC7BB;
    color: white;
    font-weight: 600;
    margin-left: calc(50% - 6.5rem);
    margin-bottom: 2rem; }
    .btn__small-event::before {
      content: 'SAVE';
      margin-left: -1.5rem; }
    .btn__small-event::after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.75rem;
      background-image: url("../assets/icons/save.png");
      background-size: contain; }
  .btn__medium-white {
    max-width: 10vw;
    min-width: 8vw;
    height: 4rem;
    font-size: 0.8vw;
    font-weight: 600;
    background-color: white;
    color: #43736C;
    border: 1px solid #43736C; }
  .btn__medium-green {
    max-width: 10vw;
    min-width: 8vw;
    height: 4rem;
    font-size: 0.8vw;
    font-weight: 600;
    background-color: #43736C;
    color: white; }
  .btn__large-green {
    max-width: 20rem;
    min-width: 18rem;
    height: 4.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #43736C;
    color: white; }

.tag {
  width: auto;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 10px; }
  .tag_post {
    background-color: #D5D8E9;
    color: #5D6285; }

.main__create_events {
  width: 50vw;
  margin-top: 5vh;
  display: grid;
  grid-template: "left middle right" auto / 17vw 20vw 25vw; }
  .main__create_events__left {
    grid-area: left;
    text-align: right;
    margin-top: 80px; }
    .main__create_events__left div {
      margin-bottom: 10px; }
  .main__create_events__middle {
    grid-area: middle; }
    .main__create_events__middle img {
      width: 18vw; }
    .main__create_events__middle div {
      display: grid;
      margin: 20px;
      margin-bottom: 30px; }
  .main__create_events__right {
    grid-area: right;
    margin-left: 5rem; }
    .main__create_events__right div {
      display: grid;
      margin: 20px;
      margin-bottom: 30px; }
    .main__create_events__right div:nth-of-type(2) {
      margin-bottom: 10px; }
    .main__create_events__right div:nth-of-type(3) {
      min-height: 10vh;
      border: 1px solid blue; }
      .main__create_events__right div:nth-of-type(3) button {
        text-align: left; }
    .main__create_events__right div:last-of-type {
      display: flex;
      align-items: center; }
      .main__create_events__right div:last-of-type button {
        padding: 10px;
        margin: 0 auto; }

.article__event {
  width: 22vw;
  border: 1px solid #F8F3F0;
  border-radius: 1rem;
  margin: 1rem; }
  .article__event-image {
    width: 100%;
    height: 20rem;
    background: url("/assets/images/event_placeholder.jpg");
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .article__event-content {
    padding: 1.5rem; }
    .article__event-content h3 {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #C8C8C8;
      margin-bottom: 0.5rem; }
    .article__event-content_data {
      display: flex;
      justify-content: space-between; }
    .article__event-content_metadata {
      width: 25%;
      padding: 0.25rem; }
      .article__event-content_metadata-icon {
        margin-left: calc(50% - 1.25rem);
        width: 2.5rem; }
      .article__event-content_metadata p {
        text-align: center; }
    .article__event-content_paragraph {
      margin: 1rem 0; }

input::placeholder {
  font-size: 1.8rem; }

.main__search {
  display: flex;
  align-items: center; }
  .main__search-image {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #F0F8F7;
    height: 4.5rem;
    border: 1px solid #DBDBDB;
    border-right: 0;
    display: flex;
    align-items: center;
    padding: 1rem; }
    .main__search-image img {
      width: 2.5rem; }
  .main__search input {
    min-width: 15vw;
    display: inline-block;
    height: 4.5rem;
    background-color: #F0F8F7;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #DBDBDB;
    border-left: 0; }
    .main__search input::placeholder {
      color: #A5A5A5; }

#login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/frontpage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.login-page__section1 {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .login-page__section1-logo {
    margin: 2%;
    color: white; }
    @media (max-width: 600px) {
      .login-page__section1-logo {
        margin: 4%; } }

.login-btn {
  width: 12%;
  height: 3.5rem;
  margin: 2%;
  justify-self: right;
  align-self: center;
  background-color: white;
  font-size: 1.2rem; }
  .login-btn:hover {
    background-color: #F5F5F5; }
  @media (max-width: 1100px) {
    .login-btn {
      width: 25%; } }
  @media (max-width: 600px) {
    .login-btn {
      width: 50%;
      margin: 4%; } }

.login-page__s2 {
  display: grid;
  height: 400px;
  color: white;
  justify-items: center;
  align-items: center; }
  .login-page__s2-box {
    width: 40%;
    text-align: center; }
    @media (max-width: 1100px) {
      .login-page__s2-box {
        width: 70%; } }
    @media (max-width: 600px) {
      .login-page__s2-box {
        width: 90%; } }
    @media (max-width: 600px) {
      .login-page__s2-box > h1 {
        font-size: 3.5rem; } }
  .login-page__s2-box__text {
    margin-top: 3%; }
    @media (max-width: 600px) {
      .login-page__s2-box__text {
        font-size: 2rem;
        margin-top: 10%; } }
  .login-page__s2-button {
    width: 30%;
    height: 4rem;
    margin-top: 3%;
    background-color: #030c10;
    color: white;
    border: 1px solid white;
    font-size: 1.2rem; }
    .login-page__s2-button:hover {
      background-color: #000000; }
    @media (max-width: 600px) {
      .login-page__s2-button {
        width: 50%;
        height: 35px;
        margin-top: 10%; } }

.login-page__s3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: #F5F5F5;
  padding: 5% 15%; }
  @media (max-width: 1100px) {
    .login-page__s3 {
      padding: 5% 5%; } }
  @media (max-width: 768px) {
    .login-page__s3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem; } }
  @media (max-width: 600px) {
    .login-page__s3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem; } }
  .login-page__s3-cards {
    display: grid;
    grid-template-rows: 6fr 1fr 4fr;
    justify-self: center;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px; }
    @media (max-width: 768px) {
      .login-page__s3-cards {
        width: 80%; } }
    .login-page__s3-cards-icon {
      display: grid;
      width: 40%;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      justify-self: center;
      align-self: center; }
    .login-page__s3-cards-header {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.6rem; }
      @media (max-width: 600px) {
        .login-page__s3-cards-header {
          font-size: 1.8rem; } }
    .login-page__s3-cards-text {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.2rem; }
      @media (max-width: 600px) {
        .login-page__s3-cards-text {
          font-size: 1.5rem; } }

.signupModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  @media (max-width: 600px) {
    .signupModal {
      padding-top: 0; } }

.signupModalTwo {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  @media (max-width: 600px) {
    .signupModalTwo {
      padding-top: 0; } }

.modal-content {
  display: grid;
  grid-template-columns: 0.3fr 5fr 5fr;
  background-color: #ffffff;
  width: 55%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media (max-width: 1100px) {
    .modal-content {
      width: 75%; } }
  @media (max-width: 768px) {
    .modal-content {
      width: 90%; } }
  @media (max-width: 600px) {
    .modal-content {
      width: 100%;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 10fr 2fr; } }
  .modal-content__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/modal.png");
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%); }
    @media (max-width: 600px) {
      .modal-content__image {
        height: 200px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
  .modal-content__text {
    display: grid;
    height: 550px;
    color: white;
    justify-items: center;
    align-items: center; }
    @media (max-width: 600px) {
      .modal-content__text {
        height: auto;
        margin-top: 6rem; } }
    .modal-content__text-box {
      width: 80%;
      text-align: center; }
      .modal-content__text-box--content {
        margin-top: 3%;
        font-size: 1.8rem; }
        @media (max-width: 600px) {
          .modal-content__text-box--content {
            display: none; } }
      .modal-content__text-box--btn {
        border: 0;
        color: black;
        background-color: white;
        margin-top: 5%;
        font-size: 1.4rem; }
        .modal-content__text-box--btn:hover {
          background-color: #F5F5F5; }
  .modal-content__form {
    padding: 20px;
    display: grid;
    width: 80%;
    align-self: center;
    justify-self: center;
    text-align: left; }
    .modal-content__form h1 {
      margin-bottom: 1rem;
      color: black; }
    .modal-content__form-fields {
      margin: 3% 0; }
      .modal-content__form-fields--password {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        margin-top: 3%; }
        @media (max-width: 600px) {
          .modal-content__form-fields--password {
            grid-template-columns: 1fr; } }
    .modal-content__form label {
      width: 100%;
      color: #AC9890;
      font-size: 1.3rem; }
    .modal-content__form-input {
      width: 100%;
      height: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__form-password {
      width: 100%;
      height: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__form-validation {
      color: #AC9890;
      margin-top: 0.2%;
      font-size: 1rem;
      display: none; }
    .modal-content__form button {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 5%; }
      .modal-content__form button:hover {
        background-color: black; }
    .modal-content__form-checkbox {
      margin-top: 1%; }
      .modal-content__form-checkbox input {
        vertical-align: middle; }
      .modal-content__form-checkbox label {
        display: inline;
        vertical-align: middle;
        padding-left: 1rem; }
    .modal-content__form-forgotPassword {
      color: #AC9890;
      font-size: 1.3rem;
      margin-top: 2%; }

.closeSignupModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0.5%;
  height: 35px; }
  @media (max-width: 600px) {
    .closeSignupModal {
      position: relative;
      text-align: right;
      margin: 2rem; } }

.closeSignupModal:hover,
.closeSignupModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.closeSignupModalTwo {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0.5%;
  height: 35px; }
  @media (max-width: 600px) {
    .closeSignupModalTwo {
      position: relative;
      text-align: right;
      margin: 2rem; } }

.closeSignupModalTwo:hover,
.closeSignupModalTwo:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.hyperlink_seemore {
  color: #E5134B;
  padding: 10px; }

.hyperlink_breadcrumb {
  text-decoration: underline; }

.hyperlink_breadcrumb:visited {
  text-decoration: none;
  color: black; }

.loginModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  @media (max-width: 600px) {
    .loginModal {
      padding-top: 0; } }

.modal-content__login {
  display: grid;
  grid-template-columns: 5fr 5fr 0.3fr;
  background-color: #ffffff;
  width: 55%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media (max-width: 1100px) {
    .modal-content__login {
      width: 75%; } }
  @media (max-width: 768px) {
    .modal-content__login {
      width: 90%; } }
  @media (max-width: 600px) {
    .modal-content__login {
      width: 100%;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 2fr 0.5fr; } }
  .modal-content__login-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/modal.png");
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%); }
    @media (max-width: 600px) {
      .modal-content__login-image {
        height: 200px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
  .modal-content__login-form {
    padding: 20px;
    display: grid;
    width: 80%;
    align-self: center;
    justify-self: center; }
    .modal-content__login-form h1 {
      margin-bottom: 1rem; }
    .modal-content__login-form-label {
      margin: 5% 0; }
    .modal-content__login-form label {
      width: 100%;
      color: #AC9890;
      font-size: 1.3rem; }
    .modal-content__login-form-input {
      width: 100%;
      height: 30px;
      margin-bottom: 1rem;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__login-form button {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500; }
      .modal-content__login-form button:hover {
        background-color: black; }
    .modal-content__login-form-checkbox {
      margin-bottom: 5%; }
      .modal-content__login-form-checkbox input {
        vertical-align: middle; }
      .modal-content__login-form-checkbox label {
        display: inline;
        vertical-align: middle;
        padding-left: 1rem; }
    .modal-content__login-form-forgotPassword {
      color: #AC9890;
      font-size: 1.3rem;
      margin-top: 2%; }

.closeLoginModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 0.5%;
  height: 35px; }
  @media (max-width: 600px) {
    .closeLoginModal {
      position: fixed;
      z-index: 1;
      top: 2rem;
      right: 2rem; } }

.closeLoginModal:hover,
.closeLoginModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.template__nav {
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .template__nav-item {
    margin: 3rem;
    color: #030c10;
    text-decoration: none; }
    .template__nav-item_active {
      position: relative; }
      .template__nav-item_active::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -4px;
        width: 100%;
        background-color: #E5134B; }

.article_post {
  width: calc(100% - 1rem);
  max-height: 250px;
  border: 1px solid #F8F3F0;
  border-radius: 1rem;
  margin-bottom: 20px;
  display: grid;
  grid-template: "image header info actions" 45px "image content info actions" 190px/minmax(20%, 350px) auto 50px 50px; }
  .article_post-image {
    grid-area: image;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative; }
    .article_post-image img {
      width: 100%;
      height: auto;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem; }
    .article_post-image_date {
      position: absolute;
      width: 100%;
      height: 20%;
      top: 80%;
      padding: 0;
      background-image: linear-gradient(transparent, #2C3338);
      color: white;
      padding: 5%;
      border-bottom-left-radius: 1rem; }
  .article_post-header {
    grid-area: header;
    padding: 20px; }
    .article_post-header h3 {
      font-size: 1.3vw; }
    .article_post-header_authorAndTags {
      font-size: 0.8vw;
      color: #727272;
      padding: 10px 0;
      align-items: center; }
      .article_post-header_authorAndTags-author {
        float: left;
        width: 10rem;
        align-items: center;
        padding-top: 5px; }
        .article_post-header_authorAndTags-author span {
          margin-right: 3%;
          font-size: 0.8vw; }
    .article_post-header button {
      font-size: 0.8vw; }
  .article_post-content {
    grid-area: content;
    padding: 20px;
    margin-top: 40px;
    padding-bottom: 0;
    columns: 40px 2;
    width: 95%;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1vw; }
  .article_post-info {
    grid-area: info;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #727272;
    text-align: center; }
    .article_post-info_views {
      margin: 50% 0;
      padding: 10px; }
      .article_post-info_views div {
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0;
        padding: 0; }
    .article_post-info_replies {
      background-color: #D4ECE8;
      border-radius: 0.5rem;
      margin: 0;
      padding: 10px; }
      .article_post-info_replies div {
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0;
        padding: 0; }
  .article_post-actions {
    grid-area: actions;
    margin-left: 35px; }
    .article_post-actions div:nth-of-type(1) {
      margin: auto;
      top: 20%;
      border: 1.5px solid #F8F3F0;
      background-color: white;
      height: 50px;
      width: 35px;
      align-items: center; }
      .article_post-actions div:nth-of-type(1) img {
        width: 50%;
        float: left;
        margin-top: 15px; }
    .article_post-actions div:nth-of-type(2) {
      margin: auto;
      top: 50%;
      border: 1.5px solid #F8F3F0;
      background-color: white;
      height: 50px;
      width: 35px;
      align-items: center; }
      .article_post-actions div:nth-of-type(2) img {
        width: 50%;
        float: left;
        margin-top: 15px; }

.article_post:before,
.article_post:after {
  content: "";
  display: table; }

.article_post:after {
  clear: both; }

@media (max-width: 768px) {
  .main__events-header {
    display: none; }
  .main__events-subheader {
    display: none; }
  .article_post {
    width: 45%;
    max-height: 520px;
    height: auto;
    border: 1px solid #F8F3F0;
    border-radius: 1rem;
    margin-right: 30px;
    display: grid;
    grid-template: "tablet-image" 150px "tablet-header" minmax(80px, 100px) "tablet-content" 330px/1fr;
    float: left; }
    .article_post-image {
      grid-area: tablet-image;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative; }
      .article_post-image img {
        height: 150px;
        border: none;
        float: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0; }
      .article_post-image_date {
        display: none; }
    .article_post-header {
      grid-area: tablet-header;
      margin: 0;
      padding: 20px;
      vertical-align: middle;
      height: auto; }
      .article_post-header h3 {
        font-size: 3vw; }
      .article_post-header_authorAndTags {
        padding: 0 0; }
        .article_post-header_authorAndTags-author {
          display: none; }
        .article_post-header_authorAndTags button {
          font-size: 1.5vw;
          margin-top: 10px;
          margin-bottom: 10px; }
    .article_post-content {
      grid-area: tablet-content;
      font-size: 2vw;
      margin: 0;
      padding: 20px;
      margin-top: 20px;
      padding-bottom: 0;
      columns: 60px 1;
      text-align: justify;
      text-justify: inter-word; }
    .article_post-info {
      display: none; }
    .article_post-actions {
      display: none; }
  .article_post:before,
  .article_post:after {
    content: "";
    display: table; }
  .article_post:after {
    clear: both; } }

@media (max-width: 600px) {
  .main__events-header {
    display: none; }
  .main__events-subheader {
    display: none; }
  .article_post {
    width: 90vw;
    max-height: 600px;
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
    border: 1px solid #F8F3F0;
    border-radius: 1rem;
    display: grid;
    grid-template: "phone-image" auto "phone-header" minmax(80px, 100px) "phone-content" minmax(100px, 150px)/1fr; }
    .article_post-image {
      grid-area: phone-image;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative; }
      .article_post-image img {
        height: auto;
        max-width: 100%;
        border: none;
        float: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0; }
      .article_post-image_date {
        display: none; }
    .article_post-header {
      grid-area: phone-header;
      margin: 0;
      padding: 20px;
      vertical-align: middle;
      height: auto; }
      .article_post-header h3 {
        font-size: 3.2vw; }
      .article_post-header_authorAndTags {
        padding: 0 0; }
        .article_post-header_authorAndTags-author {
          display: none; }
        .article_post-header_authorAndTags button {
          font-size: 2vw;
          margin-top: 10px;
          margin-bottom: 10px; }
    .article_post-content {
      grid-area: phone-content;
      font-size: 2.7vw;
      margin: 0;
      padding: 20px;
      margin-top: -20px;
      padding-bottom: 0;
      columns: 100px 1;
      text-align: justify;
      text-justify: inter-word; }
    .article_post-info {
      display: none; }
    .article_post-actions {
      display: none; }
  .article_post:before,
  .article_post:after {
    content: "";
    display: table; }
  .article_post:after {
    clear: both; } }

.right__section-user {
  height: 7.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(219, 219, 219, 0.5); }
  .right__section-user img {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    object-fit: cover; }
  .right__section-user h4 {
    margin: 0 1rem; }
  .right__section-user button {
    position: absolute;
    right: 2rem; }

.right__section-navigation {
  height: 5rem;
  display: flex;
  border-bottom: 0.5px solid rgba(219, 219, 219, 0.5);
  align-items: center; }
  .right__section-navigation_item {
    width: 50%;
    text-align: center;
    position: relative; }
    .right__section-navigation_item-active::after {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: -11px;
      width: 100%;
      background-color: #414770; }

.right__section-search {
  height: 7rem; }
