@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  color: #030c10; }
  @media (max-width: 768px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden; }

@font-face {
  font-family: 'AlfaSlab One';
  src: url("../assets/typography/AlfaSlabOne-Regular.ttf"); }

.text__1-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  font-weight: 700; }

.text__2-alfaslab {
  font-family: 'AlfaSlab One';
  font-size: 3.2rem; }

.text__2-montserrat_extrabold {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  font-weight: 800; }

.text__2-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  font-weight: 700; }

.text__3-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700; }

.text__3-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 400; }

.text__4-montserrat_medium {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 500; }

.text__4-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 500; }

.text__4-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 700; }

.text__4-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 400; }

.text__5-montserrat_semibold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600; }

.text__5-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700; }

.text__5-montserrat_light {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

.text__5-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300; }

.text__6-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

.text__7-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.text__7-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500; }

.text__7-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.text__7-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.text__8-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }

.template {
  display: grid;
  grid-template-columns: 10fr 3fr;
  grid-template-rows: 7.5rem calc(100vh - 7.5rem); }
  .template__nav {
    height: 7.5rem;
    width: 100%; }
  .template__section {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 100%;
    height: 100vh; }
  .template__main {
    background-color: #F5F5F5; }
    .template__main-container {
      padding: 2rem;
      margin: 2.5rem;
      background-color: white;
      width: calc(100% - 5rem);
      display: inline-block; }

.main__events-header, .main__events-subheader {
  display: flex;
  justify-content: space-between; }

.main__events-subheader {
  margin: 2rem 0; }

.main__events-filters {
  list-style-type: none;
  color: #43736C; }
  .main__events-filters li:nth-of-type(1) {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
  .main__events-filters li:last-of-type {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .main__events-filters_item {
    display: inline-block;
    padding: 0.5rem 1rem;
    height: 3.5rem;
    margin: -2px;
    background-color: white;
    border: 1px solid #7EC7BB; }
    .main__events-filters_item-active {
      background-color: #D4ECE8; }
    .main__events-filters_item-dropdown::after {
      content: '▾'; }

.btn {
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  .btn__small-dark {
    width: 10rem;
    height: 3.5rem;
    background-color: rgba(3, 12, 16, 0.9);
    color: white;
    font-weight: 600; }
  .btn__small-event {
    width: 10rem;
    height: 3.5rem;
    background-color: #7EC7BB;
    color: white;
    font-weight: 600; }
  .btn__large-green {
    max-width: 20rem;
    min-width: 18rem;
    height: 4.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #43736C;
    color: white; }

.template__nav {
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .template__nav-item {
    margin: 3rem;
    color: #030c10;
    text-decoration: none; }
    .template__nav-item_active {
      position: relative; }
      .template__nav-item_active::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -4px;
        width: 100%;
        background-color: #E5134B; }

input::placeholder {
  font-size: 1.8rem; }

.main__search {
  width: 100%;
  display: flex;
  align-items: center; }
  .main__search-image {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #F0F8F7;
    height: 4.5rem;
    border: 1px solid #DBDBDB;
    border-right: 0;
    display: flex;
    align-items: center;
    padding: 1rem; }
    .main__search-image img {
      width: 2.5rem; }
  .main__search input {
    width: 15vw;
    display: inline-block;
    height: 4.5rem;
    background-color: #F0F8F7;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #DBDBDB;
    border-left: 0; }
    .main__search input::placeholder {
      color: #A5A5A5; }

.right__section-user {
  height: 7.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(219, 219, 219, 0.5); }
  .right__section-user img {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 3.5vw;
    object-fit: cover; }
  .right__section-user h4 {
    margin: 0 1rem; }
  .right__section-user button {
    position: absolute;
    right: 2rem; }

.right__section-navigation {
  height: 5rem;
  display: flex;
  border-bottom: 0.5px solid rgba(219, 219, 219, 0.5);
  align-items: center; }
  .right__section-navigation_item {
    width: 50%;
    text-align: center;
    position: relative; }
    .right__section-navigation_item-active::after {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: -11px;
      width: 100%;
      background-color: #414770; }

.right__section-search {
  height: 7rem; }

.article__event {
  width: 25vw;
  border: 1px solid #F8F3F0; }
  .article__event-image {
    width: 100%;
    height: 20rem;
    background: url("/assets/images/event_placeholder.jpg");
    background-size: cover; }
  .article__event-content {
    padding: 1.5rem; }
    .article__event-content h3 {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #C8C8C8;
      margin-bottom: 0.5rem; }
    .article__event-content_metadata-icon {
      width: 2.5rem; }

#login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/frontpage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

.login-page__section1 {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .login-page__section1-logo {
    margin: 2%;
    color: white; }
    @media (max-width: 600px) {
      .login-page__section1-logo {
        margin: 4%; } }

.login-btn {
  width: 12%;
  height: 3.5rem;
  margin: 2%;
  justify-self: right;
  align-self: center;
  background-color: white;
  font-size: 1.2rem; }
  .login-btn:hover {
    background-color: #F5F5F5; }
  @media (max-width: 1100px) {
    .login-btn {
      width: 25%; } }
  @media (max-width: 600px) {
    .login-btn {
      width: 50%;
      margin: 4%; } }

.login-page__s2 {
  display: grid;
  height: 400px;
  color: white;
  justify-items: center;
  align-items: center; }
  .login-page__s2-box {
    width: 40%;
    text-align: center; }
    @media (max-width: 1100px) {
      .login-page__s2-box {
        width: 70%; } }
    @media (max-width: 600px) {
      .login-page__s2-box {
        width: 90%; } }
    @media (max-width: 600px) {
      .login-page__s2-box > h1 {
        font-size: 3.5rem; } }
  .login-page__s2-box__text {
    margin-top: 3%; }
    @media (max-width: 600px) {
      .login-page__s2-box__text {
        font-size: 2rem;
        margin-top: 10%; } }
  .login-page__s2-button {
    width: 30%;
    height: 4rem;
    margin-top: 3%;
    background-color: #030c10;
    color: white;
    border: 1px solid white;
    font-size: 1.2rem; }
    .login-page__s2-button:hover {
      background-color: #000000; }
    @media (max-width: 600px) {
      .login-page__s2-button {
        width: 50%;
        height: 35px;
        margin-top: 10%; } }

.login-page__s3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: #F5F5F5;
  padding: 5% 15%; }
  @media (max-width: 1100px) {
    .login-page__s3 {
      padding: 5% 5%; } }
  @media (max-width: 768px) {
    .login-page__s3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem; } }
  @media (max-width: 600px) {
    .login-page__s3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem; } }
  .login-page__s3-cards {
    display: grid;
    grid-template-rows: 6fr 1fr 4fr;
    justify-self: center;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px; }
    @media (max-width: 768px) {
      .login-page__s3-cards {
        width: 80%; } }
    .login-page__s3-cards-icon {
      display: grid;
      width: 40%;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      justify-self: center;
      align-self: center; }
    .login-page__s3-cards-header {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.6rem; }
      @media (max-width: 600px) {
        .login-page__s3-cards-header {
          font-size: 1.8rem; } }
    .login-page__s3-cards-text {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.2rem; }
      @media (max-width: 600px) {
        .login-page__s3-cards-text {
          font-size: 1.5rem; } }

.signupModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  display: grid;
  grid-template-columns: 0.3fr 5fr 5fr;
  background-color: #ffffff;
  width: 55%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media (max-width: 1100px) {
    .modal-content {
      width: 75%; } }
  @media (max-width: 768px) {
    .modal-content {
      width: 90%; } }
  @media (max-width: 600px) {
    .modal-content {
      width: 95%; } }
  .modal-content__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/modal.png");
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%); }
  .modal-content__text {
    display: grid;
    height: 550px;
    color: white;
    justify-items: center;
    align-items: center; }
    .modal-content__text-box {
      width: 80%;
      text-align: center; }
      .modal-content__text-box--content {
        margin-top: 3%;
        font-size: 1.8rem; }
      .modal-content__text-box--btn {
        border: 0;
        color: black;
        background-color: white;
        margin-top: 5%;
        font-size: 1.4rem; }
        .modal-content__text-box--btn:hover {
          background-color: #F5F5F5; }
  .modal-content__form {
    padding: 20px;
    display: grid;
    width: 80%;
    align-self: center;
    justify-self: center;
    text-align: left; }
    .modal-content__form h1 {
      margin-bottom: 1rem;
      color: black; }
    .modal-content__form-fields {
      margin: 5% 0; }
      .modal-content__form-fields--password {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem; }
    .modal-content__form label {
      width: 100%;
      color: #AC9890;
      font-size: 1.3rem; }
    .modal-content__form-input {
      width: 100%;
      height: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__form-password {
      width: 100%;
      height: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__form button {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 7%; }
      .modal-content__form button:hover {
        background-color: black; }
    .modal-content__form-forgotPassword {
      color: #AC9890;
      font-size: 1.3rem;
      margin-top: 2%; }

.closeSignupModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0.5%;
  height: 35px; }

.closeSignupModal:hover,
.closeSignupModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.loginModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content__login {
  display: grid;
  grid-template-columns: 5fr 5fr 0.3fr;
  background-color: #ffffff;
  width: 55%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media (max-width: 1100px) {
    .modal-content__login {
      width: 75%; } }
  @media (max-width: 768px) {
    .modal-content__login {
      width: 90%; } }
  @media (max-width: 600px) {
    .modal-content__login {
      width: 95%; } }
  .modal-content__login-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/modal.png");
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%); }
  .modal-content__login-form {
    padding: 20px;
    display: grid;
    width: 80%;
    align-self: center;
    justify-self: center; }
    .modal-content__login-form h1 {
      margin-bottom: 1rem; }
    .modal-content__login-form-label {
      margin: 5% 0; }
    .modal-content__login-form label {
      width: 100%;
      color: #AC9890;
      font-size: 1.3rem; }
    .modal-content__login-form-input {
      width: 100%;
      height: 30px;
      margin-bottom: 1rem;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      background-color: #F8F3F0;
      padding: 0.5rem; }
    .modal-content__login-form button {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500; }
      .modal-content__login-form button:hover {
        background-color: black; }
    .modal-content__login-form-checkbox {
      margin-bottom: 5%; }
      .modal-content__login-form-checkbox input {
        vertical-align: middle; }
      .modal-content__login-form-checkbox label {
        display: inline;
        vertical-align: middle;
        padding-left: 1rem; }
    .modal-content__login-form-forgotPassword {
      color: #AC9890;
      font-size: 1.3rem;
      margin-top: 2%; }

.closeLoginModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 0.5%;
  height: 35px; }

.closeLoginModal:hover,
.closeLoginModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }
