$color-lightgreen: #D4ECE8;
$color-mediumgreen: #7EC7BB;
$color-darkgreen: #43736C;

$color-lightgreen2: #E7F4EB;
$color-darkgreen2: #638983;

$color-lightbeige: #F8F3F0;
$color-mediumbeige: #AC9890;
$color-darkbeige: #C79585;

$color-mediumpink: #E5134B;
$color-darkpink: #990D32;

$color-lightviolet: #D5D8E9;
$color-mediumviolet: #5D6285;
$color-darkviolet: #414770;

$neutral-lightgrey: #DBDBDB;
$neutral-mediumgrey: #C8C8C8;
$neutral-darkblack: rgba(3, 12, 16, 1);
$neutral-darkblack90: rgba(3, 12, 16, 0.9);
$neutral-white90: rgba(255, 255, 255, 0.9);
$neutral-dirtywhite: #F5F5F5;

$light-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);