.btn {
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  &__small {
    &-dark {
      width: 10rem;
      height: 3.5rem;
      background-color: $neutral-darkblack90;
      color: white;
      font-weight: 600;
    }

    &-event {
      width: 13rem;
      height: 3.5rem;
      background-color: $color-mediumgreen;
      color: white;
      font-weight: 600;
      margin-left: calc(50% - 6.5rem);
      margin-bottom: 2rem;
      position: relative
      ;
      &::before {
        content: 'SAVE';
        margin-left: -1.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.75rem;
        background-image: url("../assets/icons/save.png");
        background-size: contain;
      }

    }
  }

  &__medium {

    &-white {
      max-width: 10vw;
      min-width: 8vw;
      height: 4rem;
      font-size: 0.8vw;
      font-weight: 600;
      background-color: white;
      color: $color-darkgreen;
      border: 1px solid $color-darkgreen;
    }

    &-green {
      max-width: 10vw;
      min-width: 8vw;
      height: 4rem;
      font-size: 0.8vw;
      font-weight: 600;
      background-color: $color-darkgreen;
      color: white;
    }
  }

  &__large {
    &-green {
      max-width: 20rem;
      min-width: 18rem;
      height: 4.5rem;
      font-size: 1.6rem;
      font-weight: 600;
      background-color: $color-darkgreen;
      color: white;
    }
  }
}

.tag {

  width: auto;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 10px;

  &_post {
    background-color: $color-lightviolet;
    color: $color-mediumviolet;
  }
}