.btn {
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  &__small {
    &-dark {
      width: 10rem;
      height: 3.5rem;
      background-color: $neutral-darkblack90;
      color: white;
      font-weight: 600;
    }

    &-event {
      width: 10rem;
      height: 3.5rem;
      background-color: $color-mediumgreen;
      color: white;
      font-weight: 600;
    }
  }

  &__medium {

    &-white {
      max-width: 10vw;
      min-width: 8vw;
      height: 4rem;
      font-size: 0.8vw;
      font-weight: 600;
      background-color: white;
      color: $color-darkgreen;
      border: 1px solid $color-darkgreen;
    }

    &-green {
      max-width: 10vw;
      min-width: 8vw;
      height: 4rem;
      font-size: 0.8vw;
      font-weight: 600;
      background-color: $color-darkgreen;
      color: white;
    }
  }

  &__large {
    &-green {
      max-width: 20rem;
      min-width: 18rem;
      height: 4.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: $color-darkgreen;
      color: white;
    }
  }
}

.tag {

  width: auto;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 10px;

  &_post {
    background-color: $color-lightviolet;
    color: $color-mediumviolet;
  }
}