.main__create_events {

    width: 50vw;
    // margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 8vh;

    display: grid;
    // grid-gap: 3rem;
    grid-template: 
    "left middle right" auto
    / 15vw 20vw 25vw;

    @include small-desk {

        width: 60vw;
        grid-template: 
        "middle" auto
        "left2" auto
        "right" auto
        / 1fr;

        &__left {
            display: none;
        }
    }

    @include tablet {

        width: 50vw;
        grid-template: 
        "middle" auto
        "left2" auto
        "right" auto
        / 1fr;

        &__left {
            display: none;
        }
    }

    @include phone {
        width: 90vw;
        grid-template: 
        "middle" auto
        "left2" auto
        "right" auto
        / 1fr;

        &__left {
            display: none;
        }

        input {
            min-height: 6rem;
        }
    }

    &__left { 
        grid-area: left;
        text-align: right;
        margin-top: 80px;

        > div {
            margin-bottom: 10px;
        }

        &__upload:hover,
        &__remove:hover {
            cursor: pointer;
        }
    }

    &__middle {
        grid-area: middle;
        color: $color-mediumbeige;

        img {
            width: 18vw;

            @include small-desk {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            @include phone {
                width: 100%;
            }
        }

        > div:nth-of-type(1), 
        > div:nth-of-type(2), 
        > div:nth-of-type(3), 
        > div:nth-of-type(4), 
        > div:nth-of-type(5) {
            display: grid;
            margin: 20px;
            margin-bottom: 30px;
        }

        label {
            padding-bottom: 5px;
        }

        input,
        select {
            background-color: $color-lightbeige;
            min-height: 4rem;
            border: 1px solid $neutral-lightgrey;
            border-radius: 0.5rem;
            color: $color-mediumbeige;
            padding: 0 1rem;

            @include tablet {
                min-height: 6rem;
                font-size: 2.5rem;
            }

            @include phone {
                min-height: 6rem;
            }
        }

        &__date {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            input {
                width: 80%;
            }

            input[data-readonly] {
                pointer-events: none;
              }

            // input::placeholder{
            //     font-weight: 200;
            //     color: $neutral-mediumgrey;
            // }

            span {
                width: 10%;
                padding: 5px;
                margin: auto;

                img {
                    width: 30px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__left2 {        
            display: none;
            grid-area: left2;

            @include small-desk {
                display: grid;
                text-align: right;
                margin: 20px;
                
                div {
                    margin-bottom: 15px;
                }
    
                &__upload:hover,
                &__remove:hover {
                    cursor: pointer;
                }
            }

            @include tablet {
                display: grid;
                text-align: right;
                margin: 20px;
                
                div {
                    margin-bottom: 0;
                    padding: 5px 0;
                    height: auto;
                }
                
                &__upload:hover,
                &__remove:hover {
                    cursor: pointer;
                }
            }

            @include phone {
                display: grid;
                text-align: right;
                margin: 20px;
    
                div {
                    margin-bottom: 0;
                    padding: 5px 0;
                    height: auto;
                }

                &__upload:hover,
                &__remove:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        grid-area: right;
        margin-left: 5rem;
        color: $color-mediumbeige;

        @include small-desk{
            margin-left: 0;
        }

        @include tablet{
            margin-left: 0;
        }

        @include phone{
            margin-left: 0;
        }

        > div {
            display: grid;
            margin: 20px;
            margin-bottom: 30px;
        }

        > div:nth-of-type(2) {
            margin-bottom: 10px;
        }

        > div:nth-of-type(3) {
            width: 100%;
            min-height: 10vh;
            display: grid;
            // display: flex;
            // flex-direction: row;
            // align-items: flex-start;
            margin: 20px;

            > div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;
                
                > button {
                    min-width: fit-content;
                    text-align: center;
                    padding: 5px 10px;
                    margin-right: 5px;
    
                    > span{
                        margin-left: 10px;
                        float: right;
                    }
                }
            }
        }

        > div:last-of-type {
            display: flex;
            align-items: center;
            // width: 100%;
            
            @include small-desk {
                // padding: 0;

                // > button {
                //     padding: 0;
                //     font-size: 1rem;
                // }
                padding: 0;
                margin: 0;
                width: 100%;

                > button {
                    height: 6rem;
                    max-width: 300px;
                    font-size: 1.5rem;
                }
            }

            @include tablet {
                padding: 0;
                margin: 0;
                width: 100%;

                > button {
                    height: 6rem;
                    max-width: 300px;
                    font-size: 1.5rem;
                }
            }

            @include phone {
                padding: 0;
                margin: 0;
                width: 100%;

                > button {
                    height: 6rem;
                    max-width: 300px;
                    font-size: 1.5rem;
                }
            }

            > button {
                padding: 10px 20px;
                margin: 0 auto;
            }
        }

        label {
            padding-bottom: 5px;
        }

        input,
        textarea {
            background-color: $color-lightbeige;
            min-height: 4rem;
            border: 1px solid $neutral-lightgrey;
            border-radius: 0.5rem;
            color: $color-mediumbeige;
            padding: 0 1rem;

            @include tablet {
                min-height: 6rem;
                font-size: 2.5rem;
            }

            @include phone {
                min-height: 6rem;
                font-size: 2.5rem;
            }
        }

        textarea {
            min-height: 10rem;
            padding: 1rem;

            @include tablet {
                min-height: 20rem;
                font-size: 2.5rem;
            }

            @include phone {
                min-height: 20rem;
                font-size: 2.5rem;
            }
        }

        &__attendees {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;

            input {
                width: 80%;
            }

            > button {
                color: $color-mediumbeige;
                width: 15%;
                padding: 10px 5px;
                margin: auto;
                background: white;
                border: none;
                // border-radius: 1rem;
            }

            > button:hover {
                cursor: pointer;
            }
        }
    }
}