.main__create_events {

    width: 50vw;
    // margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 8vh;

    display: grid;
    // grid-gap: 3rem;
    grid-template: 
    "left middle right" auto
    / 17vw 20vw 25vw;

    &__left {        
        grid-area: left;
        text-align: right;
        margin-top: 80px;

        div {
            margin-bottom: 10px;
        }

        &__upload:hover,
        &__remove:hover {
            cursor: pointer;
        }
    }

    &__middle {
        grid-area: middle;
        color: $color-mediumbeige;

        img {
            width: 18vw;
        }

        > div {
            display: grid;
            margin: 20px;
            margin-bottom: 30px;
        }

        label {
            padding-bottom: 5px;
        }

        input,
        select {
            background-color: $color-lightbeige;
            min-height: 4rem;
            border: 1px solid $neutral-lightgrey;
            border-radius: 0.5rem;
            color: $color-mediumbeige;
            padding: 0 1rem;
        }

        &__date {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            input {
                width: 80%;
            }

            input[data-readonly] {
                pointer-events: none;
              }

            // input::placeholder{
            //     font-weight: 200;
            //     color: $neutral-mediumgrey;
            // }

            span {
                width: 10%;
                padding: 5px;
                margin: auto;

                img {
                    width: 30px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        grid-area: right;
        margin-left: 5rem;
        color: $color-mediumbeige;

        > div {
            display: grid;
            margin: 20px;
            margin-bottom: 30px;
        }

        > div:nth-of-type(2) {
            margin-bottom: 10px;
        }

        > div:nth-of-type(3) {
            min-height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 20px;

            button {
                width: fit-content;
                text-align: center;
                padding: 5px 10px;
                margin-right: 5px;

                span{
                    margin-left: 10px;
                    float: right;
                }
            }
        }

        > div:last-of-type {
            display: flex;
            align-items: center;
            // width: 100%;
            
            > button {
                padding: 10px 20px;
                margin: 0 auto;
            }
        }

        label {
            padding-bottom: 5px;
        }

        input,
        textarea {
            background-color: $color-lightbeige;
            min-height: 4rem;
            border: 1px solid $neutral-lightgrey;
            border-radius: 0.5rem;
            color: $color-mediumbeige;
            padding: 0 1rem;
        }

        textarea {
            min-height: 10rem;
            padding: 1rem;
        }

        &__attendees {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            input {
                width: 80%;
            }

            button {
                color: $color-mediumbeige;
                width: 15%;
                padding: 10px 5px;
                margin: auto;
                background: white;
                border: none;
                // border-radius: 1rem;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}