.article__event {
    width: 25vw;
    border: 1px solid $color-lightbeige;
    
    &-image {
        width: 100%;
        height: 20rem;
        // -webkit-clip-path: circle(75% at 50% 5%);
        // clip-path: circle(75% at 50% 5%);
        background: url("/assets/images/event_placeholder.jpg");
        background-size: cover;
    }

    &-content {
        padding: 1.5rem;

        h3 {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $neutral-mediumgrey;
            margin-bottom: 0.5rem;
        }

        &_metadata {
            &-icon {
                width: $universal-icon-size;
            }
        }
    }

}
