// Roboto 1.6rem Medium label

input::placeholder {
    font-size: 1.8rem;
}

.main__search {
    width: 100%;
    display: flex;
    align-items: center;
    
    &-image {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: $color-lightgreen3;
        height: 4.5rem;
        border: 1px solid $neutral-lightgrey;
        border-right: 0;
        display: flex;
        align-items: center;
        padding: 1rem;

        img {
            width: 2.5rem; 
        }
    }    

    input {
        width: 15vw;
        display: inline-block;
        height: 4.5rem;
        background-color: $color-lightgreen3;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border: 1px solid $neutral-lightgrey; 
        border-left: 0;

        &::placeholder {
            color: $neutral-mediumgrey2;
        }
    }
} 