#login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../../images/frontpage.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.login-page__section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-logo {
    margin: 2%;
    color: white;

    @include tablet {
      margin: 4%;
    }
  }
}

.login-btn {
  width: 12%;
  height: 30px;
  margin: 2%;
  justify-self: right;
  align-self: center;
  background-color: white;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $neutral-dirtywhite;
  }

  @include small-desk {
    width: 25%;
  }

  @include tablet {
    width: 50%;
    margin: 4%;
  }
}

.login-page__s2 {
  display: grid;
  height: 400px;
  color: white;
  justify-items: center;
  align-items: center;

  &-box {
    width: 40%;
    text-align: center;

    @include small-desk {
      width: 70%;
    }

    @include tablet {
      width: 90%;
    }

    > h1 {
      @include tablet {
        font-size: 3.5rem;
      }
    }
  }

  &-box__text {
    margin-top: 3%;

    @include tablet {
      font-size: 2rem;
      margin-top: 10%;
    }
  }

  &-button {
    width: 30%;
    height: 45px;
    margin-top: 3%;
    background-color: #030c10;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: #000000;
    }

    @include tablet {
      width: 50%;
      height: 35px;
      margin-top: 10%;
    }
  }
}

.login-page__s3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: $neutral-dirtywhite;
  padding: 5% 15%;

  @include small-desk {
    padding: 5% 5%;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  &-cards {
    display: grid;
    grid-template-rows: 6fr 1fr 4fr;
    justify-self: center;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px;

    @media (max-width: 768px) {
      width: 80%;
    }

    &-icon {
      display: grid;
      width: 40%;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      justify-self: center;
      align-self: center;
    }

    &-header {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.6rem;

      @include tablet {
        font-size: 1.8rem;
      }
    }

    &-text {
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-size: 1.2rem;

      @include tablet {
        font-size: 1.5rem;
      }
    }
  }
}

// MODAL FOR LOGIN
.loginModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content__login {
  display: grid;
  grid-template-columns: 5fr 5fr 0.3fr;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &-image {
    background-image: url('../../images/modal.png');
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
  }

  &-form {
    padding: 20px;
    display: grid;
    width: 80%;
    align-self: center;
    justify-self: center;

    &-label {
      margin: 5% 0;
    }

    label {
      width: 100%;
    }
    input {
      width: 100%;
      height: 30px;
      margin-bottom: 1rem;
      border: 0;
      border-radius: 0.5rem;
      background-color: $color-lightbeige;
    }
    button {
      width: 100%;
    }
  }
}

.closeLoginModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeLoginModal:hover,
.closeLoginModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// MODAL FOR SIGNUP PART 1

// MODAL FOR SIGNUP PART 2
