.template__nav {
    box-shadow: $bottom-shadow;
    padding: 1rem 2rem;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-item {
        margin: 3rem;
        color: $neutral-darkblack;
        text-decoration: none;

        @include small-desk {  
            margin: 1.5rem;
        }

        &_active {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                left: 0;
                bottom: -4px;
                width: 100%;
                background-color: $color-mediumpink;
            }
            
        }
    }
}