*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	overflow-x: hidden;
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
 
	@include tablet {
		font-size: 56.25%;
	}
}

body {
	box-sizing: border-box;
	position: relative;
	scroll-behavior: smooth;
	overflow: hidden;
}
