    .template {
        display: grid;
        grid-template-columns: 10fr 3fr;
        grid-template-rows: 7.5rem calc(100vh - 7.5rem);

        &__nav {
            height: 7.5rem;
            width: 100%;
        }

        &__section {
            box-shadow: $medium-shadow;
            z-index: 3;
            width: 100%;
            height: 100vh;
        }

        &__main {
            background-color: $neutral-dirtywhite;

            &-container {
                padding: 1rem;
                margin: 2.5rem;
                background-color: white;
                width: calc(100% - 5rem); 
                height: 30rem;  
                display: inline-block;
            }
        }   
    }