@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

@font-face {
  font-family: 'AlfaSlab One';
  src: url('../assets/typography/AlfaSlabOne-Regular.ttf');
}

// Signup/Login title

.text__1-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
}

// Networkly

.text__2-alfaslab {
  font-family: 'AlfaSlab One';
  font-size: 3.2rem;
}

// Modal title

.text__2-montserrat_extrabold {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
}

// Containers

.text__2-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

// Modal image title

.text__3-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

// Signup/login subtitle

.text__3-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
}

// Signup/login card title

.text__4-montserrat_medium {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

// Right user title

.text__4-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

// Right messages section title

.text__4-roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

// Right profile

.text__4-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

// Nav items

.text__5-montserrat_semibold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

// Card titles

.text__5-montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

// Card paragraphs

.text__5-montserrat_light {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

// Modal image paragraph

.text__5-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

// Post content text

.text__6-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

// Filters, popup, messaging with name, user profile name, see more

.text__6-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

// Login/signup card paragraph

.text__7-montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

// Messaging with occupation

.text__7-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

// Message itself, message when outside

.text__7-roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

// Message date when chatting

.text__7-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

// Any sort of smaller text, card, modal tag, date when outside msg
.text__8-roboto_light {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.text__8-roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
